<h1 mat-dialog-title > Editar Informacion</h1>
<div mat-dialog-content>
   <span>
        <mat-label>Foto</mat-label>
       <div class="preview-img" *ngIf="infLogo">    
        <img width="200px" [src]="infLogo" alt="">
         
                    <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                    <input  [(ngModel)]="infLogo" type="file" (change)="capturarFile($event)" accept="imagen/*">
                </div>
           
            
        </div><br>
        <mat-form-field>

                    <mat-label>Telefono</mat-label>
                    <input matInput [(ngModel)]="infTelefonoPrincipal"> 
                    </mat-form-field><br>  
             
                </span>
                <span>
    <mat-form-field appearance="fill">
        <mat-label>Municipio</mat-label>
    <mat-select [(ngModel)]="infMunicipio"  >
        <mat-option *ngFor="let element of lst" value="{{element.munId}}">
            {{element.munNombre}}
        </mat-option>  
    </mat-select> 
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Nit</mat-label>
        <input matInput [(ngModel)]="intNit"> 
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Razon Social</mat-label>
            <input matInput [(ngModel)]="infRazonSocial"> 
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="infEmailPrincipal"> 
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Direccion</mat-label>
                    <input matInput [(ngModel)]="infDireccionPrincipal"> 
                    </mat-form-field><br>
           
                </span>
        </div>                                          

<div mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="edit()">Guardar</button>
</div>