<body *ngFor="let elements of lst2">
   <form class="loging-form" [formGroup]="loginForm" (ngSubmit)="login()"> 
    <div id="titulo" *ngFor="let element of lst">
       <img [src]="element.infLogo" width="100" height="100" alt=""> <br><br>

        <h1>INICIO DE SESIÓN</h1>
    <br>
    </div>
      
        <div class="group">
          <input type="text"  formControlName="UsuNickname" matInput placeholder="Usuario"  >
         
        
        </div>
        <div class="group">
          <input type="password" formControlName="UsuContrasenia" matInput placeholder="Contraseña"  ><span class="highlight"></span><span class="bar"></span>
       
        </div>
        <button  style="background:{{elements.colEncabezado}}" type="submit" [disabled]="!loginForm.valid"  mat-raised-button>Iniciar Sesión
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </form>
    
    </body>
    