*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
    display: flex;
      align-items: center;
     justify-content: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: linear-gradient(27deg,white 50%,black 50%);

}
.form-body{
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 10px;
   border: solid 1px #34ff;
}

.text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;



}
.form-body input{
  display: block;
  margin: auto;
  height: 40px;
width: 75%;
  padding: left 10px; 
  color: aquamarine;
  border: 1px solid #fff; 
  border-radius: 2px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  border-top-left-radius: 10px;
 border-bottom-right-radius: 10px;
  font-size: 1rem;
   outline: none;

}


.form-body input[type="password"]{
    margin-top: 20px;


}
::placeholder{
   font-size: 1rem;
  color: brown;
}
.form-body input:hover{
    transition: .5s;
     border: 1px solid  gray;
    color: burlywood;
}
.form-body button{
   display: block;
   margin: auto;
   margin-top: 25px;
   margin-bottom: 30px;
    height: 40px;
    width: 75%;
     background: transparent;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline:none;
    transition: all .5s ease;
    border: 1px solid #36ff;


}

.form-body button :hover{
   color:beige;
    border: 2px solid #fff;
    background: linear-gradient(#34ff #36ff);


}