<h1 mat-dialog-title >{{menu!=null ? 'Editar Producto': 'Nuevo Producto'}}</h1>
<div mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
    <mat-select [(ngModel)]="proProducto"  >
        <mat-option *ngFor="let element of lst" value="{{element.proId}}">
            {{element.proNombre}}
        </mat-option>  
    </mat-select> 
    </mat-form-field><br> 
  
 
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="proEstado"  >
            <mat-option *ngFor="let element of lst1" value="{{element.estId}}">
                {{element.estNombre}}
            </mat-option>  
        </mat-select> 
        </mat-form-field><br> 
        
            <mat-form-field>
                <mat-label>Solicitud</mat-label>
                <input matInput [(ngModel)]="proSolicitudAdicional"> 
                </mat-form-field>
    
                                                       

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="menu!= null ? edit() : add()">Guardar</button>
</div>