<h1 mat-dialog-title>{{menuu!=null ? 'Editar Producto': 'Nueva Producto'}}</h1>
<div mat-dialog-content>
    <span>
        <mat-label>Foto</mat-label> <br>
        <input [(ngModel)]="proFoto" type="file" (change)="capturarFile($event)">
        <br><br>
        
        <div class="preview-img" *ngIf="proFoto">

        <img width="200px" [src]="proFoto" alt=""><br><br>
        
    
       
        </div>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Categorias</mat-label>
            <mat-select [(ngModel)]="proCategoria">
                <mat-option *ngFor="let element of lst" value="{{element.catId}}">
                    {{element.catNombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Sede</mat-label>
            <mat-select [(ngModel)]="proSede">
                <mat-option *ngFor="let element of lst1" value="{{element.sedId}}">
                    {{element.sedUbicacionGoogle}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>

       



    </span>
    <span>
 <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="proNombre">
        </mat-form-field><br> <br>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="proDescripcion">
        </mat-form-field><br> <br>
        <mat-form-field>
            <mat-label>Precio</mat-label>
            <input matInput [(ngModel)]="proPrecio">
        </mat-form-field><br> <br>
        <mat-form-field>
            <mat-label>Video</mat-label>
            <input matInput [(ngModel)]="proVideo">
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Preparación</mat-label>
            <input matInput [(ngModel)]="proTiempoPreparacion">
        </mat-form-field><br>
<br>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="proEstado">
        </mat-form-field>

    </span>

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="menuu!= null ? edit() : add()">Guardar</button>
</div>