<h1 mat-dialog-title >{{rol!=null ? 'Editar Rol': 'Nuevo Rol'}}</h1>
<div mat-dialog-content>

  
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="rolNombre"> 
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="rolDescripcion"> 
            </mat-form-field>
          
                                                       

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="rol!= null ? edit() : add()">Guardar</button>
</div>