<h1 mat-dialog-title >{{mod!=null ? 'Editar Modulo': 'Nuevo Modulo'}}</h1>
<div mat-dialog-content>

  
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="modNombre"> 
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="modDescripcion"> 
            </mat-form-field>
          
                                                       

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cerrar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="mod!= null ? edit() : add()">Guardar</button>
</div>